.duration {
    width: 30px;
    display:inline-block;
    border: 0;
    background: transparent;
    color: white;

    &:focus-visible{
        border-color: none;
        outline: none;
        
    }
}

.spacer {
    opacity: 0;
}

:host.example-floating .spacer {
    opacity: 1;
}