<div [formGroup]="durationParts">
  <input
    #hours
    class="duration"
    formControlName="hours"
    type="text"
    (input)="handleInput(durationParts.controls['hours'], minutes)"
    required
    maxlength="3"
    size="3"
  />
  <span>:</span>
  <input
    #minutes
    class="duration"
    formControlName="minutes"
    type="text"
    (input)="handleInput(durationParts.controls['minutes'], seconds)"
    (keyup.backspace)="autoFocusPrev(durationParts.controls['minutes'], hours)"
    maxlength="2"
    size="2"
  />
  <span>:</span>
  <input
    #seconds
    class="duration"
    formControlName="seconds"
    type="text"
    (input)="handleInput(durationParts.controls['seconds'])"
    (keyup.backspace)="autoFocusPrev(durationParts.controls['seconds'], minutes)"
    maxlength="2"
    size="2"
  />
</div>
