<p>game-data-input works!</p>
<mat-list [formGroup]="form" role="list">
    <mat-form-field appearance="fill">
        <mat-label>Total Play Time</mat-label>
        <input matInput formControlName="Total Play Time" required (keyup)="insertColonForDuration(totalPlayTimeControl)">
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
        <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Continues</mat-label>
        <input matInput formControlName="Continues" required>
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
        <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Alert Phases</mat-label>
        <input matInput formControlName="Alert Phases" required>
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
        <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Total Kills</mat-label>
        <input matInput formControlName="Total Kills" required>
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
        <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>LIFE Recovery Items Used</mat-label>
        <input matInput formControlName="LIFE Recovery Items Used" required>
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
        <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Weapon Types Acquired</mat-label>
        <input matInput formControlName="Weapon Types Acquired" required>
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
        <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Flashbacks Viewed</mat-label>
        <input matInput formControlName="Flashbacks Viewed" required>
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
        <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Special Items</mat-label>
        <input matInput formControlName="Special Items" required>
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
        <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>CQC Uses</mat-label>
        <input matInput formControlName="CQC Uses" required>
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
        <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Headshots</mat-label>
        <input matInput formControlName="Headshots" required>
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
        <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Knife Kills/Knockouts</mat-label>
        <input matInput formControlName="Knife Kills/Knockouts" required>
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
        <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Wall Press Time</mat-label>
        <input matInput formControlName="Wall Press Time" required (keyup)="insertColonForDuration(totalPlayTimeControl)">
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
        <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Sideways Rolls</mat-label>
        <input matInput formControlName="Sideways Rolls" required>
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
        <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Forward Rolls</mat-label>
        <input matInput formControlName="Forward Rolls" required>
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
        <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Crawling Time</mat-label>
        <input matInput formControlName="Crawling Time" required (keyup)="insertColonForDuration(totalPlayTimeControl)">
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
        <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Crouch Walking Time</mat-label>
        <input matInput formControlName="Crouch Walking Time" required (keyup)="insertColonForDuration(totalPlayTimeControl)">
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
        <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Time in Cardboard Box/Drum</mat-label>
        <input matInput formControlName="Time in Cardboard Box/Drum" required (keyup)="insertColonForDuration(totalPlayTimeControl)">
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
        <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Combat Highs</mat-label>
        <input matInput formControlName="Combat Highs" required>
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
        <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Weapons/Items Acquired</mat-label>
        <input matInput formControlName="Weapons/Items Acquired" required>
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
        <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Total Drebin Points from Sales</mat-label>
        <input matInput formControlName="Total Drebin Points from Sales" required>
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
        <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Current Drebin Points</mat-label>
        <input matInput formControlName="Current Drebin Points" required>
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
        <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>
</mat-list>