<div [formGroup]="form" role="list">
  <label>Difficulty</label>
  <mat-radio-group class="difficulty-radio-group" formControlName="Difficulty">
    <mat-radio-button
      class="difficulty-radio-button"
      *ngFor="let directive of difficulties | keyvalue : originalOrder"
      [value]="directive.key"
      >{{ directive.key }}</mat-radio-button
    >
  </mat-radio-group>

  <mat-form-field appearance="fill">
    <mat-label>Total Play Time</mat-label>
    <duration matInput formControlName="Total Play Time" required></duration>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Continues</mat-label>
    <input matInput type="number" formControlName="Continues" required />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Alert Phases</mat-label>
    <input matInput type="number" formControlName="Alert Phases" required />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Total Kills</mat-label>
    <input matInput type="number" formControlName="Total Kills" required />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>LIFE Recovery Items Used</mat-label>
    <input matInput type="number" formControlName="LIFE Recovery Items Used" required />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Weapon Types Acquired</mat-label>
    <input matInput type="number" formControlName="Weapon Types Acquired" required />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Flashbacks Viewed</mat-label>
    <input matInput type="number" formControlName="Flashbacks Viewed" required />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Special Items</mat-label>
    <input matInput formControlName="Special Items" required />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>CQC Uses</mat-label>
    <input matInput type="number" formControlName="CQC Uses" required />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Headshots</mat-label>
    <input matInput type="number" formControlName="Headshots" required />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Knife Kills/Knockouts</mat-label>
    <input matInput type="number" formControlName="Knife Kills/Knockouts" required />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Wall Press Time</mat-label>
    <duration matInput formControlName="Total Play Time" required></duration>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Sideways Rolls</mat-label>
    <input matInput type="number" formControlName="Sideways Rolls" required />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Forward Rolls</mat-label>
    <input matInput type="number" formControlName="Forward Rolls" required />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Crawling Time</mat-label>
    <duration matInput formControlName="Total Play Time" required></duration>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Crouch Walking Time</mat-label>
    <duration matInput formControlName="Total Play Time" required></duration>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Time in Cardboard Box/Drum</mat-label>
    <duration matInput formControlName="Total Play Time" required></duration>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Combat Highs</mat-label>
    <input matInput type="number" formControlName="Combat Highs" required />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Weapons/Items Acquired</mat-label>
    <input matInput type="number" formControlName="Weapons/Items Acquired" required />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Total Drebin Points from Sales</mat-label>
    <input matInput type="number" formControlName="Total Drebin Points from Sales" required />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Current Drebin Points</mat-label>
    <input matInput type="number" formControlName="Current Drebin Points" required />
  </mat-form-field>
</div>
